body{
  margin : 0;
  background: #50A092;
  color: #22333B;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  overflow: hidden;
}

h1{
  color: #22333B;
}
h2{
  font-size: 1.25rem;
  color: #22333B;
}

.container {
  max-width: 75vw;
  min-width: 400px;
  justify-content: center;
  align-items: center;
  /* background: tomato; */
  margin: auto;
}
.col{
  width: 100%;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
#title{
height: 24vh;
}
#buttons{
  height: 24vh;
}
#tapis{
  display: flex;
  flex-direction: column;
  height: 50vh;
}
#casino{
  margin-bottom: 4rem;
}
.hand{
}
.score {
  margin: 1rem;
  padding-bottom: .5rem;
}
.card {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
background: #E7E3DE;
height: 12Vh;
width : 9vh;
border-radius: 5px;
margin: 0 -.5rem;
animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: .5s; /* don't forget to set a duration! */
}


#hidden{
  background-image: url('../img/dos.JPEG');
  background-position: center center;
  background-size: cover;
}

.corner{
  height: auto;
  text-align: left;
  margin: 0 .5rem;
  font-size: 4vh;
}
.suit{
  height: auto;
font-size: 8Vh;
width: 100%;
text-align: right;
margin: 0 .5rem .2rem -0.2rem;
line-height: 6vh;
align-items: first baseline;
}

.first{

}
#draw{

}

button{
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: .5rem 1rem;
  text-transform: uppercase;
  margin: 0 .5rem;
  border: none;
  border-radius: 3px;
}
button:hover{
  cursor: pointer;
}

#stay{
  background: #CA5953;
  color: #E7E3DE;
}
#hit{
  background: #ADFC92;
  color: #22333B;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22333B00; /* Black background with opacity */
  opacity: 1;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .5s; /* don't forget to set a duration! */
}

#popup{
  color: #ADFC92;
  width: 100VW;
  text-transform: uppercase;
  display: block;
  font-size: 3rem;
  margin: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* background-color: #E7E3DE90; */
  padding:1em 0;
}
